# Port du serveur
PORT=5000

# URL de connexion MongoDB (Atlas ou local)
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/examen_db

# Secret pour signer les tokens JWT
JWT_SECRET=change_this_secret_key_en_production

# Durée de validité du token
JWT_EXPIRES_IN=7d

# URL du frontend autorisée pour CORS (à adapter en prod, ex: https://tonapp.vercel.app)
CLIENT_URL=http://localhost:5173
